* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.search-section,
.result-section {
  text-align: center;
  margin: auto;
}

.search-section {
  background-color: #fff;
  padding-bottom: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.result-section {
  display: flex;
  justify-content: center;
}

.App-header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.search-box {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.search-box input {
  height: 40px;
  border-radius: 4px;
  border: solid 2px #bbb;
  width: 100%;
  max-width: 450px;
  padding: 0 16px;
  font-size: 16px;
}

.result-section {
  padding: 16px 0;
}

.no-results {
  color: #888;
}

.results {
  text-align: left;
  width: 100%;
  max-width: 450px;
}

.results ol {
  text-align: left;
  padding-left: 16px;
}

.results ol li {
  margin: 10px 0;
  font-size: 16px;
}

.highlight {
  background-color: yellow;
}